<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300,500,700&display=swap" rel="stylesheet" />
  </head>
  <style>
      body{
          margin: 0;
      }
      .main-wrapper {
          background: url({{ url_for('static', filename='backgroundarrows.png') }});;
          height: 100vh;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .feature-box {
          background: white;
          border-radius: 15px;
          height: 550px;
          width: 600px;
          box-shadow: 0px 0px 20px 0px #9BCBEB;
      }
  </style>

<body> 
    <div class="main-wrapper">
        <div class="feature-box">
            <div class="top-row-wraper">
                <div class="top-row-left-wrapper">
                    <div class="main-title">{{current_item.item_name}}</div>
                    <div class="profile-wrapper">
                        <img class="profile-photo" src="{{current_seller.photo}}" align="middle" />
                        <div class="profile-text">{{current_seller.user_name}}</div>
                    </div>
                </div>
                <div class="top-row-right-wrapper">
                    <div class="top-data-wrapper">
                        <div class="data-wrapper">
                            <img class="data-icon" src="{{url_for('static', filename='grayeye.png')}}" align="middle" />
                            <div class="data-text">{{current_item.views}}</div>
                        </div>
                        <div class="data-wrapper">
                            <img class="data-icon" src="{{url_for('static', filename='grayheart.png')}}" align="middle" />
                            <div class="data-text">{{current_item.likes}}</div>
                        </div>
                    </div>
                    <div class="asking-text">Asking: ${{current_item.price}}</div>
                </div>
            </div>
            <img class="main-image" src="{{current_item.photo}}" align="middle" />
            <div class="item-description">{{current_item.description}}</div>
        </div>
    </div>
</body>


</html>
